%inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%montserrat-500{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%gramatica-400{
  font-family: "Gramatika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%gramatica-500{
  font-family: "Gramatika", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%gramatica-400{
  font-family: "Gramatika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%gramatica-300-italic{
  font-family: "Gramatika", sans-serif;
  font-weight: 300;
  font-style: italic;
}

%gramatica-300-normal{
  font-family: "Gramatika", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%gramatica-700-normal{
  font-family: "Gramatika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%gramatica-700-italic{
  font-family: "Gramatika", sans-serif;
  font-weight: 700;
  font-style: normal;
}