@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");
@import "fonts";
@import "vars";
@import "reset";
@import "global";
.header {
  background: url("../img/header-bg.png") center center no-repeat;
}
.header-nav {
  background: linear-gradient(90deg, rgba(4, 6, 5, 0.225) 0%, rgba(5, 7, 6, 0.45) 100%);
  padding: 12px 0 11px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 auto;
  }
  &__span {
    animation: status 2s ease-in-out infinite alternate;
    @extend %gramatica-500;
    font-size: 12px;
    line-height: 18px;
    color: #53db4d;
    margin-left: auto;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: -9px;
      top: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #00d62f;
    }
  }
  @keyframes status {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1.05);
    }
  }
  &__phone {
    @extend %gramatica-700-normal;
    font-size: 21px;
    line-height: 32px;
    color: #e1e1e1;
    position: relative;
    &::before {
      position: absolute;
      content: url("../img/icons/call.png");
      left: -17px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.header-body {
  padding: 138px 0 162px;
  &__inner {
    max-width: 715px;
    width: 100%;
  }
  &__title {
    @extend %gramatica-500;
    font-size: 48px;
    line-height: 120%;
    color: #dedede;
    margin-bottom: 55px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    max-width: 331px;
    width: 100%;
    margin-bottom: 46px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0 15px;
    @extend %inter-regular;
    font-size: 18px;
    line-height: 22px;
    color: #dedede;
  }
  &__price {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    padding: 20px 60px;
  }
}
.info {
  padding: 63px 0 35px;
  background: url("../img/details-bg.jpg") center center no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -60px;
      right: -56px;
      background: url("../img/info/rotate.png");
      width: 109px;
      height: 109px;
    }
  }
  &__item {
    max-width: 580px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #1e1e1e;
    text-align: center;
  }
  &__img {
    width: 580px;
    height: 341px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  &__span {
    @extend %gramatica-500;
  }
  &__text {
    max-width: 484px;
    @extend %gramatica-400;
    text-align: left;
    & + .info__text {
      margin-top: 15px;
    }
  }
  &__description {
    text-align: center;
    max-width: 417px;
    width: 100%;
    margin: 15px auto 0;
    @extend %inter-regular;
    line-height: 19px;
  }
  &__list {
    margin: 15px 0;
    text-align: left;
    counter-reset: tidbit-counter 0;
    span {
      font-weight: 500;
    }
    li {
      @extend %gramatica-400;
      &:before {
        content: "";
        counter-increment: tidbit-counter;
        content: counter(tidbit-counter) ": ";
      }
    }
  }
}
.content {
  background: url("../img/content/bg.jpg");
  padding: 136px 0 82px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background: url("../img/line.png") center center no-repeat;
    left: 50%;
    transform: translateX(-50%);
    top: -38px;
    height: 109px;
    width: 100%;
    background-size: cover;
    z-index: 40;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  .title{
    color: #DEDEDE;
  }
}
.content-card {
  max-width: 580px;
  width: 100%;
  min-height: 857px;
  background: url("../img/content/card-bg.png") center center no-repeat #0d1017;
  box-shadow: 0px 4px 4px rgba(#000, 0.25);
  border-radius: 15px;
  display: flex;
  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
    border-radius: 15px;
    max-width: 560px;
    width: 100%;
    min-height: 833px;
    margin: auto;
    padding: 27px 53px 37px;
  }
  &__img {
    width: 474px;
    height: 299px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #a3a3a3;
  }
  &__heading {
    text-align: center;
    @extend %gramatica-500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    color: #a3a3a3;
  }
  &__span {
    display: block;
    max-width: 423px;
    width: 100%;
    color: #a3a3a3;
    @extend %gramatica-400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  &__list {
    max-width: 325px;
    @extend %gramatica-500;
    font-size: 16px;
    line-height: 24px;
    color: #dedede;
    li {
      @extend %gramatica-400;
      position: relative;
      padding-left: 25px;
      &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #dedede;
        left: 8px;
        top: 13px;
      }
    }
  }
  &__more {
    display: inline-block;
    margin: auto auto 0;
  }
}
.details {
  background: url("../img/details-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 63px 0 38px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px 5px;
    margin-bottom: 24px;
  }
  &__card {
    text-align: center;
    img {
      margin-bottom: 31px;
    }
    span {
      @extend %gramatica-400;
      font-size: 18px;
      line-height: 27px;
      color: #1e1e1e;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: -10px;
        width: 132px;
        height: 6px;
        left: 50%;
        transform: translateX(-50%);
        background: url("../img/order/line.svg");
      }
    }
  }
  &__span {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    display: block;
    &::before {
      position: absolute;
      content: "";
      bottom: -10px;
      width: 100%;
      height: 6px;
      left: 50%;
      transform: translateX(-50%);
      background: url("../img/order/line.svg") center center no-repeat;
    }
  }
}
.company {
  background-size: cover;
  padding: 135px 0 112px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background: url("../img/line.png") center center no-repeat;
    left: 50%;
    transform: translateX(-50%);
    top: -38px;
    height: 109px;
    width: 100%;
    background-size: cover;
    z-index: 40;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
  }
  &__title {
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #dedede;
    margin-bottom: 44px;
  }
  &__info {
    max-width: 580px;
    width: 100%;
  }
  &__list {
    max-width: 449px;
    width: 100%;
    margin: auto auto 20px auto;
  }
  &__item {
    @extend %inter-regular;
    font-size: 16px;
    line-height: 19px;
    color: #dedede;
    padding-left: 40px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 7px;
      background: url("../img/company/check.png");
      width: 25px;
      height: 24px;
    }
    & + .company__item {
      margin-top: 15px;
    }
  }
  &__call-back {
    display: inline-block;
    margin-left: 100px;
  }
}
.company-slider {
  max-width: 338px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  &__item {
    max-width: 338px;
    width: 100%;
    min-height: 472px;
    margin: 0 5px;
  }
  &__card {
    max-width: 338px;
    width: 100%;
    min-height: 472px;
  }
  &__img {
    width: 338px;
    height: 472px;
    object-fit: cover;
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0px 4px;
    bottom: -21px;
    z-index: 1;
  }
  .slick-dots li {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #a6a6a6;
    transition: all 0.6s ease-in-out;
  }
  .slick-dots li.slick-active {
    background: #0071ff;
  }
  .slick-arrow {
    z-index: 99;
    display: grid;
    place-items: center;
    width: 20px;
    height: 40px;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .slick-next.slick-arrow {
    right: -62px;
    margin-left: auto;
  }
  .slick-prev.slick-arrow {
    left: -62px;
    transform: translateY(-50%) rotateY(-180deg);
  }
  .slick-arrow.slick-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
.order {
  padding: 64px 0 32px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 50px;
    perspective: 1000px;
    perspective-origin: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 350px));
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
    min-height: 550px;
    background: url("../img/order/card-bg.png") center center no-repeat;
    background-size: cover;
    box-shadow: 0px 50px 200px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 12px 18px 23px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translate(5px, 5px) translateZ(5px) rotateZ(-5deg);
      transform-style: preserve-3d;
      transform-origin: center;
    }
  }
  &__img {
    margin: 0 auto;
    object-fit: cover;
  }
  &__img:nth-child(1) {
    width: 149px;
    height: 206px;
  }
  &__img:nth-child(2) {
    width: 237px;
    height: 162px;
  }
  &__img:nth-child(3) {
    width: 132px;
    height: 208px;
  }
  &__body {
    min-height: 288px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #1e1e1e;
  }
  &__heading {
    @extend %gramatica-500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 21px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      width: 132px;
      height: 6px;
      left: 50%;
      transform: translateX(-50%);
      background: url("../img/order/line.svg");
    }
  }
  &__text {
    @extend %gramatica-500;
    margin-bottom: 15px;
  }
  &__description {
    @extend %gramatica-400;
  }
}
.work {
  padding: 32px 0 0;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 44px;
  }
  &__card {
    width: 280px;
    height: 195px;
    overflow: hidden;
  }
  &__img {
    width: 280px;
    height: 195px;
    object-position: center;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    &:hover {
      scale: 1.05;
    }
  }
}

@import "media";
